<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key></key>
    <string></string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>14.5</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>KOLI</string>
    <key>DTSDKName</key>
    <string>iphoneos14.5</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>To set profile picture and setting campaign photos</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>To show influencer based on user location.</string>
    <key>CFBundleDisplayName</key>
    <string>KOLI</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
      <string>itms-apps</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>To show influencer based on user location.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>18E182</string>
    <key>NSCameraUsageDescription</key>
    <string>To set profile picture and setting campaign photos</string>
    <key>CFBundleShortVersionString</key>
    <string>2.17</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>To show influencer based on user location.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21A5248p</string>
    <key>DTPlatformBuild</key>
    <string>18E182</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>12E507</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleVersion</key>
    <string>178</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>To set profile picture and setting campaign photos</string>
    <key>UIAppFonts</key>
    <array>
      <string>Lato-Black.ttf</string>
      <string>Lato-BlackItalic.ttf</string>
      <string>Lato-Bold.ttf</string>
      <string>Lato-BoldItalic.ttf</string>
      <string>Lato-Italic.ttf</string>
      <string>Lato-Light.ttf</string>
      <string>Lato-LightItalic.ttf</string>
      <string>Lato-Regular.ttf</string>
      <string>Lato-Thin.ttf</string>
      <string>Lato-ThinItalic.ttf</string>
      <string>Roboto-Black.ttf</string>
      <string>Roboto-BlackItalic.ttf</string>
      <string>Roboto-Bold.ttf</string>
      <string>Roboto-BoldItalic.ttf</string>
      <string>Roboto-Italic.ttf</string>
      <string>Roboto-Light.ttf</string>
      <string>Roboto-LightItalic.ttf</string>
      <string>Roboto-Medium.ttf</string>
      <string>Roboto-MediumItalic.ttf</string>
      <string>Roboto-Regular.ttf</string>
      <string>Roboto-Thin.ttf</string>
      <string>Roboto-ThinItalic.ttf</string>
      <string>AntDesign.ttf</string>
      <string>Entypo.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>Feather.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>FontAwesome5_Brands.ttf</string>
      <string>FontAwesome5_Regular.ttf</string>
      <string>FontAwesome5_Solid.ttf</string>
      <string>Fontisto.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>Octicons.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Zocial.ttf</string>
      <string>Lato-SemiBold.ttf</string>
      <string>Lato-Medium.ttf</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>FacebookAppID</key>
    <string>406815239962657</string>
    <key>FirebaseDynamicLinksCustomDomains</key>
    <array>
      <string>https://app.koli.ai</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleIdentifier</key>
    <string>co.koli</string>
    <key>FacebookDisplayName</key>
    <string>KOLI</string>
    <key>DTXcode</key>
    <string>1251</string>
    <key>CFBundleExecutable</key>
    <string>KOLI</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSLocationAlwaysUsageDescription </key>
    <string>To show influencer based on user location.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb406815239962657</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.1075997105817-dpq41qlcb0dt6829ofj9ip0o3779g8uu</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>Bundle ID</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>co.koli</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>12E507</string>
  </dict>
</plist>
